<% if notice %>
  <div class="bg-green-50 border-l-4 border-green-500 p-4 rounded animate-fade-in">
    <p class="text-green-800"><%= notice %></p>
  </div>
<% end %>
<% if alert %>
  <div class="bg-red-50 border-l-4 border-red-500 p-4 rounded animate-fade-in">
    <p class="text-red-800"><%= alert %></p>
  </div>
<% end %>

